{% extends "base.html" %}

{% block content %}
  {% if 'инженер' in prof or 'строитель' in prof}
    <h2>Инженерные тренажеры</h2>
    <img src="{url_for('static', filename='img/tren.jpg')}" 
           alt="здесь должна была быть картинка, но не нашлась">
  {% else %}
    <h2>Научные симуляторы<h2>
    <img src="{url_for('static', filename='img/sim.jpg')}" 
           alt="здесь должна была быть картинка, но не нашлась">
  {% endif %}
{% endblock %}


{% if number % 2 == 0 %}
        <div>{{ number }} - чётное</div>
 {% else %}
       <div>{{ number }} - нечётное</div>
 {% endif %}
